.app-wrap{
    display: block;
    text-align: center;
}
.app-wrap img{
    width:50px;
}
.addon-modal, .addon-modal-overlay{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    z-index: 200;
    display: none;
}
.addon-modal-overlay{
    width: 100%;
    height: 100%;
    background: #00000082;
}
.addon-modal {
    width: 90%;
    max-width: 450px;
    font-size: 16px;
}
.addon-modal-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 20px;
    margin: 20px 0px;
}
.addon-rule-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}
.addon-rule-item.name{
  font-weight: bold;
}
.active .addon-modal-overlay, .active .addon-modal{
    display: block !important;
}
.addon-atc{
  margin: 10px auto 10px;
}

.addon-modal {
    border-radius: 10px;
    box-shadow: 9px 8px 13px 0px rgba(0, 0, 0, 0.2);
}
.addon-modal .addon-atc {
    background-color: #121212;
    color: #ffffff;
    padding: 15px 20px;
    min-width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  	border:2px solid #121212;
    font-weight:500;
  	transition:background 0.3s ease-in-out, color 0.3s ease-in-out;
}
.addon-modal input[type=checkbox]{
    height: 25px;
    width: 25px;
    margin: 0px;
    left: 0;
  	z-index:2;
}
.addon-modal .addon-rule-item span{
    display: flex;
    justify-content: space-between;
    align-items: center
  }
.addon-modal .addon-rule-title {
    background-color: #f2f2f2;
    padding: 10px 15px;
    border-radius: 5px;
  	font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}
.addon-modal .addon-rule-title:first-child {
  margin-top: 0px;
}
.addon-modal .addon-rule-item .name{
  font-weight:bold;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.addon-modal .addon-rule-item .description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media(min-width:769px){
  /* .addon-modal .addon-atc:hover{
    background-color: #ffffff;
    color:#121212;
  } */
}

.addon-modal-header {
  display: flex;
  justify-content: flex-end;
  padding: 0px 20px;
  position: relative;
  margin: 20px 0px;
}
.addon-modal-header .close-btn {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.addon-modal-header .close-btn .line {
  width: 100%;
  height: 2px;
  background-color: #121212;
  display: block;
  transform: rotate(45deg);
  position: absolute;
}
.addon-modal-header .close-btn .line:nth-child(2){
  transform: rotate(-45deg);
}

.addon-checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-left: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 25px;
  z-index:1;
}

.addon-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.addon-ctm-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.addon-checkbox:hover input:not(:disabled) ~ .addon-ctm-checkbox {
  background-color: #ccc;
}

.addon-checkbox input:checked ~ .addon-ctm-checkbox {
  background-color: #121212;
}

.addon-ctm-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.addon-checkbox input:checked ~ .addon-ctm-checkbox:after {
  display: block;
}

.addon-checkbox .addon-ctm-checkbox:after {
  left: 9px;
  top: 5px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.addon-modal .addon-rule-container:not(:last-child){
  	margin-bottom: 20px;
}

.addon-modal .addon-rule-item .addon-info {
  max-width: 64%;
  align-items: flex-start;
}
.addon-modal .addon-rule-item .addon-text-info {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10px;
}
.addon-modal .addon-rule-item .addon-text-info .desciption {
  font-size: 14px;
}
.addon-ofs {
  position: absolute;
  top: 100%;
  font-size: 12px;
  color: #eb0d0d;
}
.addon-modal .addon-rule-item .price{
  position: relative;
  font-size: 16px;
}
.addon-checkbox input:disabled ~ .addon-ctm-checkbox:before {
  content: '\00d7';
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
}
.cart-error {
  text-align: center;
  font-size: 14px;
  color: #eb0d0d;
}

/* cart checkout */
.loading-spinner .loading-overlay {
  left: 50%;
  top: calc(50% - 10px);
  margin-top: 0px !important;
}
.loading-spinner .loading-overlay .loading-overlay__spinner svg .path{
  stroke: #fff;
}
.loading-spinner .cart__checkout-button{
  font-size: 0px;
}
.loading-spinner{
  position: relative;
  font-size: 0;
  color: transparent !important;
}
