.app-wrap{
    display: block;
    text-align: center;
}
.app-wrap img{
    width:50px;
}
.addon-modal, .addon-modal-overlay{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    z-index: 200;
    display: none;
}
.addon-modal-overlay{
    width: 100%;
    height: 100%;
    background: #00000082;
}
.addon-modal {
    width: 90%;
    max-width: 330px;
}
.addon-modal-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}
.addon-rule-title{
    font-size: 20px;
    font-weight: 700;
}
.addon-rule-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.addon-rule-item.name{
  font-weight: bold;
}
.active .addon-modal-overlay, .active .addon-modal{
    display: block !important;
}
.addon-atc{
    margin: 30px auto 0;
}

.addon-modal {
    border-radius: 10px;
    box-shadow: 9px 8px 13px 0px rgba(0, 0, 0, 0.2);
}
.addon-modal .addon-atc {
    background-color: #121212;
    color: #ffffff;
    padding: 15px 20px;
    min-width: 50%;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  	border:2px solid #121212;
      font-weight:500;
      margin-bottom: 16px;
  	transition:background 0.3s ease-in-out, color 0.3s ease-in-out;
}
.addon-modal input[type=checkbox]{
    height: 16px;
    width: 16px;
  	margin-left: 15px;
  }
.addon-modal .addon-rule-item span{
    display: flex;
    justify-content: space-between;
    align-items: center
  }
.addon-modal .addon-rule-title {
    background-color: #f2f2f2;
    padding: 10px 15px;
    border-radius: 10px;
  	font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
  .addon-modal .addon-rule-item .name{
    font-weight:bold;
  }
@media(min-width:769px){
  .addon-modal .addon-atc:hover{
    background-color: #ffffff;
    color:#121212;
  }
}

.addon-modal-header {
  display: flex;
  justify-content: flex-end;
  padding: 0px 20px;
  position: relative;
  margin: 20px 0px;
}
.addon-modal-header .close-btn {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.addon-modal-header .close-btn .line {
  width: 100%;
  height: 2px;
  background-color: #121212;
  display: block;
  transform: rotate(45deg);
  position: absolute;
}
.addon-modal-header .close-btn .line:nth-child(2){
  transform: rotate(-45deg);
}