<span class="app-wrap">
    {{ 'dollar.svg' | asset_url | image_tag }}
</span>
{% schema %}
{
  "name": "App Block",
  "target": "section",
  "stylesheet": "theme-extension.css",
  "javascript": "theme-extension.js",
  "settings": [

  ]
}
{% endschema %}